<div class="header-container">
	<div id="logo"></div>
</div>

<div class="content-container">
	<div class="row">
		<div class="col-md-6">
			<div class="avatar-container">
				<div class="avatar"></div>
				<div class="error-webrtc" ng-show="true || webrtc.error">
					WebRTC is down. <a ng-click="restartWebRTC()">Click here</a> to reinitiate it.
				</div>

				<div class="username"><span style="font-weight: 100">Sam</span>Patterson</div>
			</div>
			<div ng-show="data.points != null">
				<div class="circle" id="circles-1"></div>
			</div>
			<div class="next-reward">
				<b>{{ 500 - data.points }}</b> Points to Next Reward
			</div>


			<div>
				<button ng-click="getPoints()">GET</button>
				<button ng-click="setHomework()">POST</button>
				<button ng-click="callDispatcher()">call person</button>
				<button ng-click="hangup()">end call</button>
			</div>



		</div>
		<div class="col-md-6">
			<div class="challenge">
				<div class="challenge-row">
					<div class="badge">&nbsp;</div>
					<div class="badge-info">
						<div class="badge-title">Unlock XBox</div>
						<div class="badge-points">500</div>
						<div class="badge-points-label">Points</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<div class="challenge-row">
					<div class="row">
						<div class="col-md-6 task-title">Math Homework</div>
						<div class="col-md-3">
							<div class="task-points">300</div>
							<div class="task-points-label">Points</div>
						</div>
						<div class="col-md-3">Checkbox</div>
					</div>
				</div>
				<div class="challenge-row">
					<div class="row">
						<div class="col-md-6 task-title">Exercise Bike - 30 Min</div>
						<div class="col-md-3">
							<div class="task-points">100</div>
							<div class="task-points-label">Points</div>
						</div>
						<div class="col-md-3">Checkbox</div>
					</div>
				</div>
				<div class="challenge-row">
					<div class="row">
						<div class="col-md-6 task-title">Garbage</div>
						<div class="col-md-3">
							<div class="task-points">50</div>
							<div class="task-points-label">Points</div>
						</div>
						<div class="col-md-3">Checkbox</div>
					</div>
				</div>
				<div class="challenge-row" style="border-bottom: 0px; padding-bottom: 10px;">
					<div class="row">
						<div class="col-md-6 task-title">Dishes</div>
						<div class="col-md-3">
							<div class="task-points">50</div>
							<div class="task-points-label">Points</div>
						</div>
						<div class="col-md-3">Checkbox</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="webrtc-video-container">
	<video id="local" style="width:320px;"></video>
	</br>
	<video id="remote" style="width:320px;"></video>
</div>