/*

LevelUp Color Scheme: Header (Dark) #20AFBD; Calls To Action (Bright) #2CCAD9; Selected (Accent) #FFD300

*/


.header-container {
	height: 300px;
	background: #abcdef;
}
.content-container {
	position: absolute;
	top: 100px;
	left: 40px;
	right: 40px;
	background: #990000;
}