/*

LevelUp Color Scheme: Header (Dark) #20AFBD; Calls To Action (Bright) #2CCAD9; Selected (Accent) #FFD300

*/



*, .btn, button {
	outline: 0!important;
}
.btn, .btn-large {
	background: #2CCAD9!important;
}

.header-container {
	height: 400px;
	background: url(../images/cover.png) center center no-repeat;
	background-size: cover;
}
#logo {
	width: 400px;
	height: 100px;
	background: url(../images/logo.png) center center no-repeat;
	background-size: contain;
}
.content-container {
	position: absolute;
	top: 100px;
	left: 40px;
	right: 40px;
}
.avatar-container {
	padding-top: 80px;
	height: 300px;
}
.avatar {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	float: left;
	background: url(../images/profile.png) center center no-repeat;
	background-size: cover;
}
.username {
	padding: 120px 0px 0px 220px;
	font-size: 60px;
	color: #ffffff;
}
.challenge {
	margin-right: 100px;
	margin-top: 50px;
	border-radius: 3px;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.challenge-row {
	padding: 30px;
	padding-bottom: 0px;
	border-bottom: 1px solid #ccc;
	clear: both;
}
.circles-text span {
	font-size: 30px;
	position: relative;
	top: -260px;
}
.webrtc-btn {
    position: absolute;
    top: 150px;
    left: 230px;
}
.error-webrtc {
    display: inline;
    background: rgba(255, 255, 255, .5);
    padding: 10px 20px;
    border-radius: 4px;
    position: absolute;
    top: 170px;
    left: 230px;
}
.circle {
	text-align: center;
    padding-top: 50px;
}
.next-reward {
	font-size: 30px;
	padding-top: 20px;
	text-align: center;
}
.badge {
	width: 200px;
	height: 200px;
	background: url(../images/star.png) center center no-repeat;
	background-size: contain;
	float: left;
	opacity: .3;
}
.badge.earned {
	opacity: 1;
}
.badge-info {
	float: left;
	padding: 24px;
}
.badge-title {
	font-size: 50px;
}
.badge-points {
	font-size: 50px;
	display: inline;
}
.badge-points-label {
	font-size: 20px;
	display: inline;
}
.task-title {
	font-size: 20px;
}
.task-points {
	font-size: 20px;
	text-align: center;
}
.task-points-label {
	text-align: center;
}
.webrtc-video-container {
	position: absolute;
    top: 300px;
    width: 100%;
    background: #fff;
    height: 550px;
}
#remote {
	background: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}
#local {
	background: #000;
	border: 1px solid #fff;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 300px;
	height: 140px;
	z-index: 20;
}
.end-session {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 20;
}





